<p><%= link_to 'New Account', new_users_path %> | <%= link_to 'Login', products_path %></p>

<section class="index">
  <% @products.each do |product| %>


    <div class="single">
      <%= render "product_individual", product: product %>
    </div>

  <% end %>
</section>
